[Desktop Entry]
Type=Application
Name=MQTT Monitor
Comment=Monitor MQTT topics and receive notifications
Exec=/usr/bin/mqtt-monitor
Icon=network-wireless
Terminal=false
Categories=Network;Qt;
Keywords=MQTT;Monitor;